.Rproj.user
.Rhistory
.RData
.Ruserdata
data/shp_iris
exercises/exercises_cache
exercises/rosm.cache
lecture/lecture_cache
exercises/exercises.html
exercises/exercises_files
lecture/lecture.html
lecture/lecture-slides.html
lecture/lecture_files
